<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <style>
    .jumbotron{
        margin: 20px 10px;
    }
    form{
        margin: 20px 20px;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="text-success">Dashboard</h1>
        </div>
    
        <form action="/dashboard" method="POST">
            <div class="form-group">
                <label for="serverSideCheckingFreq">Enter serverSideCheckingFreq in ms</label>
                <input type="number" class="form-control" id="serverSideCheckingFreq" name="serverSideCheckingFreq" placeholder="2000" min="1000">
            </div>
            <div class="form-group">
                <label for="totalExperimentLength">Enter totalExperimentLength in ms</label>
                <input type="number" class="form-control" id="totalExperimentLength" name="totalExperimentLength" placeholder="180000" min="10000">
            </div>
            <div class="form-group">
                <label for="clientSideDelayBeforeProcessing">Enter clientSideDelayBeforeProcessing in ms</label>
                <input type="number" class="form-control" id="clientSideDelayBeforeProcessing" name="clientSideDelayBeforeProcessing" placeholder="5000" min="1000">
            </div>
            <div class="form-group">
                <label for="clientSideCheckingFrequency">Enter clientSideCheckingFrequency in ms</label>
                <input type="number" class="form-control" id="clientSideCheckingFrequency" name="clientSideCheckingFrequency" placeholder="1000" min="1000">
            </div>
    
            <button id="button" class="btn btn-primary">Submit changes</button>
    </div>
    <script src="/js/dashboard.js"></script>

</body>
</html>