<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing Application</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

    
<body class="black"></div>
    <h1>Click anywhere to change the color of your partner’s screen.</h1>
    <h2>The window on the bottom right shows the current color of their screen.</h2>
    <div class="bottom-right white">
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</body>
</html>