<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Linguistics Experiment</title>
    <style>
    .jumbotron{
        margin: 20px 10px;
    }
    form{
        margin: 20px 20px;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="text-success">Welcome to the Lingusitics Experiment hosted by CEL</h1>
        </div>
    
        <form action="/communication" method="GET">
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="identifier">Prolific Identification Number</label>
                <input type="text" class="form-control" id="identifier" name="identifier" placeholder="ID" required>
            </div>
    
            <button onclick="store()" id="button" class="btn btn-primary">Start the Experiment</button>
    </div>

    <script src="js/login.js"></script>
    
</body>
</html>