<!DOCTYPE html>
<html lang="en">
<head>
    <title>Linguistics Experiment</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <h1>
        Welcome to the Lingusitics Communication Experiment
    </h1>

    <form action="/" method="POST">
        <input type="text" name="Name" placeholder="Enter your name">
        <input type="text" name="Identifier" placeholder="Enter your id">
        <button>Submit</button>
    </form>
    
</body>
</html>