.white {
	background-color: white;
}

.black {
	background-color: black;
}

h1 {
	color: aquamarine;
}
h2 {
	color: orange;
}

html,
body {
	margin: 0;
	height: 100%;
}

.bottom-right {
	position: absolute;
	top: 500px;
	right: 50px;
	width: 400px;
	height: 250px;
	border: thick solid #32a1ce;
}

html {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
