.white{
    background-color: white;
}

.black{
    background-color: black;
}

h1{
    color: aquamarine;
}

body{
    padding-bottom: 100%;
}

.bottom-right{
    width: 100px;
    height: 50px;
    background-color: orange; 
}