.white {
	background-color: white;
}

.black {
	background-color: black;
}

h1 {
	color: aquamarine;
}
h2 {
	color: orange;
}

body {
	padding-bottom: 100%;
}

.bottom-right {
	position: absolute;
	top: 500px;
	right: 50px;
	width: 400px;
	height: 250px;
	border: thick solid #32a1ce;
}
